<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="true" name="HandheldFriendly" />
        <meta name="format-detection" content="telephone=no" />
        <meta content="width" name="MobileOptimized" />
    </head>
    <body>
        <div class="header">
            <img class="logo" src="{{ url_for('static', filename='images/detectx.jpg') }}">
         </div>
        <div class="length"> 
            
            <label for="Telomere length">Telomere length:&nbsp;&nbsp;&nbsp; &nbsp;</label>
           <span>{{data.telomereLength}}</span><br><br>
            <label for="Risk of cancer">Risk of cancer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
             <span> {{data.riskOfCancer}}</span> 
             <br>
             <br>
             <label for="Risk of cancer">Age:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</label>
             <span> {{data.Age}}</span> 
        </div>
        <div>
            <input class="print" type="button" onclick="window.print()" value="Print">
         </div>
    </body>
    </html>
